In [14]:
import pandas as pd
import re

In [126]:
import pickle

In [38]:
from nltk.tokenize import RegexpTokenizer
Regexp_tokenizing=RegexpTokenizer("\w+")

In [15]:
ip=pd.read_csv(r'..\Reddit_Comments\Final_reddits_Jul13.csv',index_col=False)

In [62]:
ip.columns

Index(['Unnamed: 0', 'Author_Name', 'Content', 'Type_of_Content', 'Time',
       'Main_Document_id', 'url', 'current_car'],
      dtype='object')

In [63]:
ip.dropna(subset=['Content'],inplace=True)
ip.index=range(len(ip))

In [95]:
List_vehicle_considered=[]

In [96]:
for each in range(len(ip)):
    if each%100==0: print (each)
    if re.search(r'vehicle.*?considered.{0,2}:(.*?)(\.|:)',ip.ix[each,'Content'],re.I):
        text=re.search(r'vehicle.*?considered.{0,2}:(.*?)(\.|:)',ip.ix[each,'Content'],re.I).group(1)
        if re.search(r'(?=.*,)(?=.*\()',text): 
            text=re.sub(re.compile(r'(\(.*?\))',re.I),' ',text)
            List_vehicle_considered.extend(text.split(','))
        else:
            List_vehicle_considered.extend(text.split(','))

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200

In [97]:
len(List_vehicle_considered)

3493

In [98]:
List_vehicle_considered[0:15]

['',
 'All of the Subarus',
 ' Golf TDI',
 ' Mazda CX5',
 'Miata  ',
 ' mr2 spyder  ',
 ' Fox body mustang',
 'Toyota Corolla IM',
 ' Honda Civic',
 ' Ford Escape',
 'Scion xB',
 ' Scion iM',
 ' Hyundai Veloster',
 ' Hyundai Genesis',
 ' Toyotya Corolla']

In [99]:
List_vehicle_considered=[each.lower().strip() for each in List_vehicle_considered if len(each)>1]
List_vehicle_considered=list(set(List_vehicle_considered))

In [100]:
len(List_vehicle_considered)

2044

In [111]:
ip['current_car'].fillna('EMPTY',inplace=True)

In [112]:
List_vehicle_owned=[]
for each in range(len(ip)):
    if each%100==0: print (each)
    if ip.loc[each,'current_car']!='EMPTY':
        temp_list=re.split(r',|\|',ip.loc[each,'current_car'])
        List_vehicle_owned.extend(temp_list)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200

In [121]:
List_vehicle_owned=[each.lower().strip() for each in List_vehicle_owned]
List_vehicle_owned=list(set(List_vehicle_owned))
List_vehicle_owned=[each for each in List_vehicle_owned if len(each)>1]

In [122]:
len(List_vehicle_owned)

802

In [123]:
List_vehicles=List_vehicle_owned+List_vehicle_considered
List_vehicles=list(set(List_vehicles))

In [124]:
len(List_vehicles)

2820

In [125]:
List_vehicles

['1990 eagle talon tsi awd',
 "85' rx7 gs",
 '2nd gen nissan pathfinder',
 'mazda3 5-door',
 '190e']

In [128]:
pickle.dump(List_vehicles,open("vehicle_models.pkl","wb"))

###### Rough

In [105]:
?re.split

In [40]:
for each in range(len(ip[0:100])):
    if re.search(r'vehicle.*?considered.{0,2}:(.*?)\.',ip.ix[each,'Content'],re.I):
        text=re.search(r'vehicle.*?considered.{0,2}:(.*?)\.',ip.ix[each,'Content'],re.I).group(1)
        if re.search(r',',text): 
            text2=text.split(',')
            text3=[Regexp_tokenizing.tokenize(element) for element in text2]
            for element in text3:
                if len(element)>3:
                    print (each, element)

4 ['All', 'of', 'the', 'Subarus']
6 ['I', 've', 'driven', 'one', 'and', 'while', 'they', 're', 'not', 'supposed', 'to', 'be', 'drag', 'monsters']
6 ['I', 'kinda', 'want', 'something', 'a', 'little', 'faster']
6 ['mr2', 'spyder', 'owned', 'one', 'but', 'engine', 'blew']
6 ['kind', 'of', 'scared', 'me', 'off', 'although', 'I', 'love', 'it']

In [25]:
ip.loc[15,'Content']

' Location:California. Price Range:18k-25k. Buy. New. Sedan or crossover. Must Hve:Fuel efficient, AWD, Bluetooth, navigation. Automatic. Daily driver. Vehicle considered:Toyota Corolla IM, Honda Civic, Ford Escape. Minor Work:Change oil, battery No major work. Pretty much novice when it comes to vehicles, appreciate any advice. '

In [1]:
import nltk
import re
import pprint
from nltk import Tree

from nltk.tokenize import RegexpTokenizer

import pandas as pd

from collections import Counter
from collections import OrderedDict

In [2]:
pattern=r"""
NP:
    {<NN.*>+<CD>*}
"""

In [3]:
custom_NPChunker = nltk.RegexpParser(pattern)
Regexp_tokenizing=RegexpTokenizer("\w+")

In [4]:
from nltk.corpus import wordnet

In [8]:
wordnet.synsets("all")

[Synset('all.a.01'), Synset('all.s.02'), Synset('wholly.r.01')]

In [9]:
text="Lexus Ct200h, Mazda CX-3, Acura ILX/TLX"
word_list=text.split()
for each in word_list:
    print (wordnet.synsets(each))

[]
[]
[]
[]
[]
[]

In [23]:
text="I\'ve had a Honda Accord, Nissan Maxima, Nissan Rogue, Honda Odyssey - all 3 years each"
word_list=text.split()
print (word_list)
print (nltk.pos_tag(word_list))

["I've", 'had', 'a', 'Honda', 'Accord,', 'Nissan', 'Maxima,', 'Nissan', 'Rogue,', 'Honda', 'Odyssey', '-', 'all', '3', 'years', 'each']
[("I've", 'NNP'), ('had', 'VBD'), ('a', 'DT'), ('Honda', 'NNP'), ('Accord,', 'NNP'), ('Nissan', 'NNP'), ('Maxima,', 'NNP'), ('Nissan', 'NNP'), ('Rogue,', 'NNP'), ('Honda', 'NNP'), ('Odyssey', 'NNP'), ('-', ':'), ('all', 'DT'), ('3', 'CD'), ('years', 'NNS'), ('each', 'DT')]