##### DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

In [ ]:
Creation of DataFrames

* From Dictionaries of lists
* From Numpy Array
* From another DataFrame
* From File

In [ ]:
import pandas as pd
import numpy as np
import os
os.chdir("D:\Govind")

In [ ]:
#Creation of Dataframes-From Dictionaries of lists
data = pd.DataFrame({'Score':[99, 100, 90, 99, 80, 57, 40, 39],
                     'Student_ID':[1, 2, 3, 4, 4, 3, 2, 1],
                     'Subjects':['Statistics', 'Python', 'R','Tableau', 'HTML_based_Visualization', 
                                 'Apache-Spark', 'MachineLearning', 'Artificial Intelligence']})
data

In [ ]:
#Creation of Dataframes-From Numpy Array
df1 = pd.DataFrame(np.random.randn(6,4),columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randn(6,4),columns=list('ABCD'))
print df1
print df2

In [ ]:
#Creation of Dataframes-From another DataFrame
data1=pd.DataFrame(data);
print data1;
print '\n';
data2=data;
print data2;

In [ ]:
#-->data1=data (be very careful with the assignment operator) 
#-->The above incorrect syntax will result in data getting affected if data1 gets affected 
data_original=data.copy()

In [ ]:
data1=data

In [ ]:
data1.index=data['Subjects']

In [ ]:
data1.index

In [ ]:
data1.ix['MachineLearning','Score']

In [ ]:
data1.ix['MachineLearning','Score']=100

In [ ]:
type(data1['Score'])
type(data1['Subjects'])

In [ ]:
data

In [ ]:
data_original 
#stays unaffected

In [ ]:
#In Pandas, indexing a DataFrame returns a reference to the initial DataFrame. 
#Thus, changing the subset/directly copied dataset will change the initial DataFrame. 
#Thus, you'd want to use the COPY if you want to make sure the initial DataFrame shouldn't change

In [ ]:
#Creation of Dataframes-From File
data3=pd.DataFrame()
data3=pd.read_csv(r'StudentDetails.csv',error_bad_lines=False)
print data3

In [ ]:
data4=pd.DataFrame()
data4=pd.read_csv(r'ProfessorDetails.csv',error_bad_lines=False)
print data4

In [ ]:
#Concatenation of DataFrames-Along Rows
data5=pd.concat([data3,data4],axis=0)
print data5

In [ ]:
#Concatenation of DataFrames-Along Columns
data5=pd.concat([data3,data4],axis=1)
print data5

In [ ]:
#Writing to a file
data5.to_csv("Concat_details.csv")
print "Output has been generated under your Documents folder"

In [ ]:
# Counting the number of rows or columns
print len(data5)
print '\n'
print len(data5.columns)
print '\n'
print data5.shape

In [ ]:
#Adding an another column to a Dataframe
data['Subject_Category']=['Concept_based','Tool_based','Tool_based','Tool_based','Tool_based','Tool_based','Concept_based AND Tool_based','Tool_based AND Concept_based']
data

In [ ]:
#To access rows and columns
# to know how to access row index and column index

In [ ]:
#Accessing first few rows & last few rows in a dataframe

In [ ]:
print data.head(3)
print '\n'
print data.tail(3)

In [ ]:
# ways to access the indices - data.loc or data.iloc or #data.ix
data

In [ ]:
#Correct Ways to access a column in the dataframe
print data.loc[:,'Subjects'] # loc is primarily label based indexing - so you can look up a column or row by its name
print '\n'
print data.iloc[:,2] #iloc is integer based indexing
print '\n'
print data.ix[:,2]#.ix can handle both integer and label based indexing
print '\n'
print data.ix[3,"Subjects"]
print '\n'
print data.Subjects

In [ ]:
#Correct Ways to access a row in the dataframe

#Correct Ways to access a column in the dataframe
print data.loc['Tableau',:] # loc is primarily label based indexing - so you can look up a column or row by its name
print '\n'
print data.ix['Tableau',:]

In [ ]:
data_original

In [ ]:
#For listing column names of a dataframe
data_original.columns

In [ ]:
# For altering the index of a dataframe
data_original.index=['Class1','Class2','Class3','Class4','Class5','Class6','Class7','Class8']

In [ ]:
#Condition based data subsetting

In [ ]:
#single condition subsetting - Example1 with Numeric Variable
data3=pd.DataFrame()
data3=data_original[data_original['Score']>90]
data3

In [ ]:
data_original=data.copy()
data_original

In [ ]:
#multiple condition subsetting with AND function
data3=data_original[(data_original['Subject_Category']!='Tool_based')&(data_original['Score']>90)]

In [ ]:
data3

In [ ]:
#multiple condition subsetting with OR function
data3=data_original[(data_original['Subject_Category']!='Tool_based')|(data_original['Score']>90)]

In [ ]:
data3

In [ ]:
#creating a new column in a subsetted dataset and assigning values
data3['Name']=''
data3.loc[data3.Student_ID==1,'Name']='Anuradha'
data3.loc[data3.Student_ID==2,'Name']='Balu'
data3.loc[data3.Student_ID==4,'Name']='David'
data3

In [ ]:
#Why did the warning occur? Because we are inputting on a subsetted dataframe

In [ ]:
data_original.loc[data_original.Student_ID==1,'Name']='Anuradha'
data_original.loc[data_original.Student_ID==2,'Name']='Balu'
data_original.loc[data_original.Student_ID==4,'Name']='David'
data_original.loc[data_original.Student_ID==3,'Name']='Charan'

In [ ]:
data_original

In [ ]:
#Merging two dataframes
data4=pd.DataFrame({'Student_ID':[1,2,3,4],
                    'Location':['Chennai','Gurgaon','Delhi','Hyderabad']})

In [ ]:
data4

In [ ]:
data_original=pd.merge(data_original,data4,how='left',on=['Student_ID'])

In [ ]:
data_original

In [ ]:
#To drop a column or a row
#using column number
data5=data_original.copy()
data5.drop(data5.columns[5],axis=1,inplace=True)

In [ ]:
data5

In [ ]:
#removing using column name
data6=data_original.copy()
data6.drop(["Location","Name"],axis=1,inplace=True)

In [ ]:
data6

In [ ]:
#axis = 1 to apply a method along the column labels
#axis = 0 to apply a method along the row labels

In [ ]:
data6[data6['Score']<40].index

In [ ]:
data6.drop(data6[data6['Score']<40].index,axis=0,inplace=True)

In [ ]:
data6

In [ ]:
data_original

In [ ]:
#renaminig a column
data_original.rename(columns={'Score':'Marks'},inplace=True)

In [ ]:
data_original

In [ ]:
#Missing Value Treatment
import numpy as np
#for creating missing values with nan function of numpy
data7=data_original.copy()
data7=data7.append({'Marks':np.nan,'Student_ID':5,'Subjects':'SQL Lite','Subject_Category':'Tool_based','Name':'Xavier','Location':'Jamshedpur'},
             ignore_index=True)
print data7
data8=data_original.copy()
data8.ix[8,:]=[np.nan,6,'SQL Lite','Tool_based','Yuvaraj','Mumbai']
print data8

In [ ]:
data7.isnull().sum()
#iidentifies the number of missing values in each column

In [ ]:
#To replace na's with choice of your computation
data7['Marks'].fillna(value=data7['Marks'].median(),inplace=True)
data7

In [ ]:
#To drop na
data8.dropna(inplace=True)
data8

In [ ]:
#Working with Text Data
#String Manipulation in Dataframes (and an intro to Regular Expressions)
data9=data_original.copy()
data9[data9['Subject_Category'].str.contains('tool',case=False)]
#searching for all rows where Subject_Category contains the word tool

In [ ]:
data9['Subject_Category'].replace(to_replace=r'Tool_based',value='Software_based',regex=True,inplace=True)
#if regex=False, it won't replace the Tool_based in last two rows

In [ ]:
data9

In [ ]:
data9[data9['Name'].str.contains(r'^A|^C')]
#the symbol ^ denotes beginning of the string

In [ ]:
#Datetime manipulation
data10=data9.copy()
data10['Date_of_Test']=['7/11/2016','7/13/2016','7/09/2016','7/10/2016','7/11/2016','7/13/2016','7/12/2016','7/14/2016']

In [ ]:
data10

In [ ]:
#Type casting
data10['Date_of_Test']=pd.to_datetime(data10['Date_of_Test'],dayfirst=False)
#converting into a datetime variable

In [ ]:
data10

In [ ]:
data10['Date_of_Test'].dtype

In [ ]:
#dtype('<M8[ns]') is one of the datetime formats

In [ ]:
print data10.ix[1,'Date_of_Test'].day
print data10.ix[1,'Date_of_Test'].month

In [ ]:
#sorting columns
data10.sort_values('Date_of_Test')

In [ ]:
data10.sort_values(['Date_of_Test','Marks'],ascending=[True,True])
#sorting by multiple columns with changing the order; default is ascending = True

###### Group by  function to aggregate values

By “group by” we are referring to a process involving one or more of the following steps

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
#Simple Groupby function

In [ ]:
Find the mean score of every student

In [ ]:
data10.groupby('Name')['Marks'].mean()

In [ ]:
Find the mean score of every student based on their category of the subject they have chosen?

In [ ]:
Find the mean score of every student based on their category of the subject they have chosen

In [ ]:
Find the mean score of every student based on their category of the subject they have chosen

In [ ]:
# Groupby function with multiple columns

In [ ]:
data10.groupby(['Name','Subject_Category'])['Marks'].mean()

In [ ]:
# Groupby using dictionary

Group every student into North indian or South indian category based on their Location

In [ ]:
Demography={'Delhi':'North','Hyderabad':'South','Chennai':'South','Gurgaon':'North'}
Grouped=data10.set_index("Location").groupby(Demography)
list(Grouped)

In [ ]:
#Pivot Table Creation
data10

Find the total marks scored by every student on all subjects

In [ ]:
table = pd.pivot_table(data10, values='Marks', index='Name',
                        aggfunc=np.sum)
table

In [ ]:
Find the total marks scored by every student on all subjects across Location ?

In [ ]:
table = pd.pivot_table(data10, values='Marks', index='Name',
                        columns=['Location'], aggfunc=np.sum)
table

In [ ]:
# Cross tabulation- A statistical tool to analyse categorical data
data5=pd.DataFrame()
data5=pd.read_csv(r'Cosstab-Student.csv',error_bad_lines=False)
data5

In [ ]:
#What are the subjects which are popular among students?

In [ ]:
#One-Way Tables
my_tab = pd.crosstab(index=data5["Subjects"],  # Make a crosstab
                              columns="count")      # Name the count column
my_tab

In [ ]:
#What are the subjects which are popular among students based on gender?

In [ ]:
#Two-Way Tables
my_tab = pd.crosstab(index=data5["Subjects"],  # Make a crosstab
                              columns=data5["Gender"])      
my_tab

In [ ]:
#Reading from json-Traditional Method
import json
from pprint import pprint

with open('Demographics.json') as data_file:    
    data = json.load(data_file)

pprint(data)

In [ ]:
print data["Country"]["id"]
print '\n'
print data["State"]["id"]
print '\n'
print data["Population"]

In [ ]:
#Reading from json-Using Pandas

print pd.read_json('Demographics.json')

In [ ]:
from IPython.display import Image
Image('thanks.jpg')